{% extends 'block/base.html' %}
{% load static %}

{% block title %}
  Block
{% endblock title %}

{% block heading %}
  Block
{% endblock heading %}

{% block sub_heading %}
  Example App
  -
  {{ page.name }}
{% endblock sub_heading %}

{% block menu_extra %}
  {{ block.super }}
  <li class="pure-menu-item">
    <a href="{% url 'calendar.information' %}" class="pure-menu-link">
      <i class="fa fa-calendar"></i>
      Calendar
    </a>
  </li>
{% endblock menu_extra %}

{% block homelink %}
{% include "block/_nav_menu.html" %}
{% endblock homelink %}

{% block footer %}
{% endblock footer %}
