{% load block_tags %}
{% load thumbnail %}
{% comment %}
Template snippet to display a block
{% endcomment %}

<tr valign="top">
  <td>
    {{ c.pk }}
  </td>
  <td>
    {{ c.block.pk }}
  </td>
  <td>
    {{ c.block.page_section.page.slug }}
    {% if c.block.page_section.panel %}
      /
      {{ c.block.page_section.panel.page_section.section.slug }}
    {% endif %}
    /
    <strong>
      {{ c.block.page_section.section.slug }}
    </strong>
  </td>
  <td>
    {{ c.block.order }}
  </td>
  <td>
    {{ c.title }}
    {% if c.link %}
      <br>
      <a href="{{ c.link.url }}" target="_blank">
        <i class="fa fa-link"></i>
        {{ c.link.link_type_description }}:
        {{ c.link.title }}
        {% if c.link.category.name %}
          <small>({{ c.link.category.name }})</small>
        {% endif %}
      </a>
    {% endif %}
    {% for item in c.ordered_references %}
      <br>
      <a href="{{ item.link.url }}" target="_blank">
        {{ item.order }}.
        {{ item.link.link_type_description }}:
        {{ item.link.title }}
        {% if item.link.category.name %}
          <small>({{ item.link.category.name }})</small>
        {% endif %}
      </a>
    {% endfor %}
    {% if c.picture %}
      <br>
      <h3>Picture</h3>
      <img src="{% thumbnail c.picture.image 100x0 crop='center' %}">
    {% endif %}
    {% for item in c.ordered_slideshow %}
      {% if forloop.first %}
        <h3>Slideshow</h3>
      {% endif %}
      <br>
      <img src="{% thumbnail item.image.image 100x0 crop='center' %}">
      <br>
      {{ item.order }}.
      {{ item.image.title }}
      <br>
    {% endfor %}
  </td>
  <td>
    {% block_status c %}
  </td>
  {% if design %}
    <td>
      {% block_moderate c with forloop=forloop %}
    </td>
  {% endif %}
</tr>
