{% extends 'dash/base.html' %}

{% load block_tags %}

{% include 'example/_page_menu.html' %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="l-box">
        <table class="pure-table pure-table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Title</th>
              <th>Status</th>
              {% if design %}
                <th>Moderate</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for c in body_list %}
              <tr valign="top">
                <td>
                  {{ c.block.pk }}
                </td>
                <td>
                  {{ c.title }}
                </td>
                <td>
                  {% block_status c %}
                </td>
                {% if design %}
                  <td>
                    {% block_moderate c with forloop=forloop %}
                  </td>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% if design %}{% block_add body_create_url %}{% endif %}
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="l-box">
        <h3>Calendar (Custom View)</h3>
        <ul>
          {% for item in calendar %}
            <li>{{ item }}</li>
          {% empty %}
            <strong>No calendar found for the custom view.</strong>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
