{% extends 'dash/base.html' %}
{% load block_tags %}

{% block content %}
  <p>Please note: this example app uses the BASE_MIXIN_CONTENT_PLUGIN to display the navigation menu in place of the home link at the top of the menu.</p>
  <p>Hover over the VIEW SITE text to see the navigation menu.</p>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr>
            <th>Content ID</th>
            <th>Block ID</th>
            <th>Page/Section</th>
            <th>Order</th>
            <th>Title</th>
            <th>Status</th>
            {% if design %}
              <th>Moderate</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="7">
              <strong>
                Body
              </strong>
            </td>
          </tr>
          {% for c in body_list %}
            {% include 'example/_content.html' %}
          {% endfor %}
          {% if design %}
            <tr>
              <td colspan="7">
                {% block_add body_create_url 'Body' %}
              </td>
            </tr>
          {% endif %}
          <tr>
            <td colspan="7">
              <strong>
                Article
              </strong>
            </td>
          </tr>
          {% for c in article_list %}
            {% include 'example/_content.html' %}
          {% endfor %}
          {% if design %}
            <tr>
              <td colspan="7">
                {% block_add article_create_url 'Article' %}
              </td>
            </tr>
          {% endif %}
          <tr>
            <td colspan="7">
              <strong>
                Panels - add a panel, then use the elements button to add content to it - see it displayed below.
              </strong>
            </td>
          </tr>
          {% for p in panel_list %}
          {% include 'example/_content.html' with c=p %}
          {% for e in p.elements %}
          {% for c in e.qs %}
          {% include 'example/_content.html' %}
          {% endfor %}
          {% if design %}
          <tr>
            <td colspan="7">
            <div>{% block_add e.create_url e.section.name %}</div>
          </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
          {% if design %}
            <tr>
              <td colspan="7">
                {% block_add panel_create_url 'Panel' %}
              </td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>

  <h1>Example Panel block usage</h1>
  <div>N.B. this is the same panel block as in the table above</div>
  <div>Article elements are displayed 3 across and body elements 2 across</div>
  <style>
    .panel {
      background-color: red;
      color: white;
      margin-top: 1rem;
    }
    .article {
      display: inline-block;
      box-sizing: border-box;
      width: 33%;
      height: 25vh;
      border: 1rem solid red;
      padding: 1rem;
      background-color: green;
    }
    .body {
      display: inline-block;
      box-sizing: border-box;
      width: 49.5%;
      height: 25vh;
      border: 1rem solid red;
      padding: 1rem;
      background-color: blue;
    }
    @media (max-width: 800px) {
      .body, .article { width: 100%; }
  </style>

  <div>
    {% for p in panel_list %}
    {# render the panel #}
    <div class="panel"{% if p.picture %} style="background-image: {{ p.picture }}"{% endif %}>
      {% if p.title %}<h2>{{ p.title }}</h2>{% endif %}
      {% for e in p.elements %}
      {# a panel element - i.e. a block #}
      <div>
      {% for c in e.qs %}
      {# an item within this panel element #}
      {% include e.section.snippet_name %}
      {% endfor %}
      </div>
      {% if design %}<div>{% block_add e.create_url e.section.name %}</div>{% endif %}
      {% endfor %}
      {% if design %}<tr><td colspan="7">{% block_moderate p %}</td></tr>{% endif %}
    </div>
    {% endfor %}
    {% if design %}<div>{% block_add panel_create_url 'Panel' %}</div>{% endif %}
{% endblock content %}
