<div class="design-toolbar">
  <a
    class="pure-button pure-button-xsmall"
    title="Add{% if caption %} {{ caption }}{% endif %}"
    href="{{ url }}{% if return_path %}?next={{ return_path }}{% endif %}">
    <i class="fa fa-plus"></i>
    Add{% if caption %} {{ caption }}{% endif %}
  </a>
</div>
