<li class="pure-menu-item">
  <a href="{% url 'gallery.image.list' %}" class="pure-menu-link">
    <i class="fa fa-picture-o"></i>
    Image Library
  </a>
</li>
{% if show_navigation_menu %}
  <li class="pure-menu-item">
    <a href="{% url 'block.menuitem.list' 'main' %}" class="pure-menu-link">
      <i class="fa fa-bars"></i>
      Navigation Menu
    </a>
  </li>
{% endif %}
<li class="pure-menu-item">
  <a href="{% url 'block.page.list' %}" class="pure-menu-link">
    <i class="fa fa-file-text-o"></i>
    Pages
  </a>
</li>
