<form
  action="{% url 'block.move.up.down' c.block.page_section.pk c.pk %}"
  method="post"
  class="pure-form design-toolbar">
  {% csrf_token %}
  {% if form.non_field_errors %}
    {{ form.non_field_errors }}
  {% endif %}

  {% if legend %}
    <span class="legend">{{ legend }}: </span>
  {% endif %}

  {% if can_move_blocks_up_and_down %}
    {# can not move up if on first item of a normal loop or last element of a reversed loop #}
    {% if forloop.first and not reversed_loop %}
      <button type="button" disabled class="pure-button pure-button-xsmall pure-button-disabled" aria-label="{% if reversed_loop %}move down{% else %}move up{% endif %}">
    {% elif forloop.last and reversed_loop %}
      <button type="button" disabled class="pure-button pure-button-xsmall pure-button-disabled" aria-label="{% if reversed_loop %}move down{% else %}move up{% endif %}">
    {% else %}
      <button type="submit" name="operation" value="up" class="pure-button pure-button-xsmall" aria-label="{% if reversed_loop %}move down{% else %}move up{% endif %}">
    {% endif %}
    {# in a reversed loop "down" is "up" #}
    {% if reversed_loop %}
      <i class="fa fa-arrow-down"></i>
    {% else %}
      <i class="fa fa-arrow-up"></i>
    {% endif %}
    </button>

    {# can not move down if on last item of a normal loop or first element of a reversed loop #}
    {% if forloop.last and not reversed_loop %}
      <button type="button" disabled class="pure-button pure-button-xsmall pure-button-disabled" aria-label="{% if reversed_loop %}move up{% else %}move down{% endif %}">
    {% elif forloop.first and reversed_loop %}
      <button type="button" disabled class="pure-button pure-button-xsmall pure-button-disabled" aria-label="{% if reversed_loop %}move up{% else %}move down{% endif %}">
    {% else %}
      <button type="submit" name="operation" value="down" class="pure-button pure-button-xsmall" aria-label="{% if reversed_loop %}move up{% else %}move down{% endif %}">
    {% endif %}
    {# in a reversed loop "up" is "down" #}
    {% if reversed_loop %}
      <i class="fa fa-arrow-up"></i>
    {% else %}
      <i class="fa fa-arrow-down"></i>
    {% endif %}
    </button>
  {% endif %}
  {% if c.is_pending_added or c.is_pending_edited %}
    <a
      class="pure-button pure-button-xsmall"
      title="Publish{% if caption %} {{ caption }}{% endif %}"
      href="{{ c.url_publish }}{% if return_path %}?next={{ return_path }}{% endif %}">
      <i class="fa fa-check"></i>
      Publish{% if caption %} {{ caption }}{% endif %}
    </a>
  {% endif %}
  <a
    class="pure-button pure-button-xsmall"
    title="Edit{% if caption %} {{ caption }}{% endif %}"
    href="{{ c.url_update }}{% if return_path %}?next={{ return_path }}{% endif %}">
    <i class="fa fa-edit"></i>
    Edit{% if caption %} {{ caption }}{% endif %}
  </a>
  {% for url in c.wizard_urls %}
    <a class="pure-button pure-button-xsmall" href="{{ url.url }}{% if return_path %}?next={{ return_path }}{% endif %}">
      <i class="{{ url.class }}"></i>
      {{ url.caption }}
    </a>
  {% endfor %}
  {% if c.has_elements %}
    <a class="pure-button pure-button-xsmall" href="{{ c.url_elements }}">
      <i class="fa fa-list"></i>
      Elements
    </a>
  {% endif %}
  {% if can_remove %}
    <a
      class="pure-button pure-button-xsmall"
      title="Remove{% if caption %} {{ caption }}{% endif %}"
      href="{{ c.url_remove }}{% if return_path %}?next={{ return_path }}{% endif %}">
      <i class="fa fa-times"></i>
      Remove{% if caption %} {{ caption }}{% endif %}
    </a>
  {% endif %}
</form>
