{% if main_menu_item_list %}
<div class="nav-menu-container">
  <div class="pure-menu-heading nav-button">View Site</div>
  <div class="nav-menu">
    {% for item in main_menu_item_list %}
    <div class="pure-menu-item"><a class="pure-menu-link" href="{{ item.get_link }}" alt="{{ item.title }}">{{ item.title }}</a></div>
    {% endfor %}
  </div>
</div>
{% else %}
<a class="pure-menu-heading" href="{% url 'project.home' %}" title="View Home Page" alt="View Home Page">Home</a>
{% endif %}
