<div class="pure-u-1 pure-u-md-1-4">
  <div class="pure-g">
    <div class="pure-u-1">
      <h4>CMS</h4>
    </div>
  </div>
  <div class="r-box">
    <a href="{% url 'block.page.list' %}" class="pure-menu-link">
      <i class="fa fa-file-text-o"></i>
      Pages
    </a>
  </div>
  <div class="r-box">
    <a href="{% url 'block.link.list' %}" class="pure-menu-link">
      <i class="fa fa-link"></i>
      Link Library
    </a>
  </div>
  {% if not no_navigation_menu %}
    <div class="r-box">
      {# navigation menu should be called main #}
      <a href="{% url 'block.menuitem.list' 'main' %}" class="pure-menu-link">
        <i class="fa fa-bars"></i>
        Navigation Menu
      </a>
    </div>
  {% endif %}
  {% if not no_header_footer %}
    <div class="r-box">
      <a href="{% url 'block.header.footer.update' %}" class="pure-menu-link">
        <i class="fa fa-header"></i>
        Header and footer
      </a>
    </div>
  {% endif %}
  {% if user.is_superuser %}
    <div class="r-box">
      <a href="{% url 'block.template.list' %}" class="pure-menu-link">
        <i class="fa fa-file-code-o"></i>
        Page Templates
      </a>
    </div>
  {% endif %}
</div>
