{% load base_tags %}

<form action="." {% if form_id %}id="{{ form_id }}"{% endif %} method="{% if method %}{{ method }}{% else %}post{% endif %}" {% if multipart %}enctype="multipart/form-data"{% endif %} class="pure-form {% if aligned %}pure-form-aligned{% else %}pure-form-stacked{% endif %}">
  {% csrf_token %}
  {% if form.non_field_errors %}
    {{ form.non_field_errors }}
  {% endif %}
  <fieldset>
    {% if legend %}
      <legend>{{ legend }}</legend>
    {% endif %}
    <div class="pure-g">
      {% for field in form.visible_fields %}
        <!-- errors -->
        {% if field.errors %}
          <div class="pure-u-1">
            {% for error in field.errors %}
              <span class="errorlist"><mark>{{ error }}</mark></span>
            {% endfor %}
          </div>
        {% endif %}
        <!-- end - errors -->
        {% for item in field %}
          <div class="pure-u-1-2 pure-u-md-1-4">
            {{ item }}
          </div>
        {% endfor %}
      {% endfor %}
    </div>
    <div class="pure-controls">
      <p>
        <input type="submit" value="{% if submit %}{{ submit }}{% else %}Submit{% endif %}" class="pure-button pure-button-primary" />
      </p>
    </div>
  </fieldset>
  {% for hidden in form.hidden_fields %}
    {{ hidden }}
  {% endfor %}
  {% if next %}
    <input type="hidden" name="next" value="{{ next }}" />
  {% endif %}
</form>
