{% extends 'base/base.html' %}

{% load static %}

{% block title %}
  {% if header_footer %}
    {{ header_footer.header }}{% if page %} - {{ page.name }}{% endif %}
  {% else %}
    CMS
  {% endif %}
{% endblock title %}

{% block meta_extra %}
  {% if page.meta_description %}
    <meta name="description" content="{{ page.meta_description }}">
  {% endif %}
  {% if page.meta_keywords %}
    <meta name="keywords" content="{{ page.meta_keywords }}">
  {% endif %}
{% endblock meta_extra %}

{% block heading %}
  {% if header_footer %}
    {{ header_footer.header }}
  {% else %}
    CMS
  {% endif %}
{% endblock heading %}

{% block sub_heading %}
  {% if page and page.name %}
    {{ page.name }}
  {% else %}
    CMS
  {% endif %}
{% endblock sub_heading %}

{% block sub_title %}
{% endblock sub_title %}

{% block analytics %}
  {% if not design %}
    {% include 'base/_google_site_tag.html' %}
  {% endif %}
{% endblock analytics %}

{% block menu_dash %}
  {% if page.is_home %}
    {% include 'block/_design_menu.html' %}
  {% endif %}
  {% include 'block/_menu_list.html' %}
  {{ block.super }}
{% endblock menu_dash %}

{% block footer %}
  <div class="legal pure-g">
    <div class="pure-u-1 pure-u-md-8-24">
      <div class="l-box">
        {% if header_footer.url_facebook %}
          <a href="{{ header_footer.url_facebook }}" target="_blank">
            <i class="fa fa-facebook-official fa-2x"></i>
          </a>
        {% endif %}
        {% if header_footer.url_linkedin %}
          <a href="{{ header_footer.url_linkedin }}" target="_blank">
            <i class="fa fa-linkedin fa-2x"></i>
          </a>
        {% endif %}
        {% if header_footer.url_twitter %}
          <a href="{{ header_footer.url_twitter }}" target="_blank">
            <i class="fa fa-twitter fa-2x"></i>
          </a>
        {% endif %}
        {% if header_footer.footer_left %}
          &nbsp; {{ header_footer.footer_left }}
        {% endif %}
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-8-24">
      <div class="l-box legal-logo">
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-8-24">
      <div class="l-box">
        <ul class="legal-links pure-g">
          <li class="pure-u-1">
            For help and support, please contact
            <a href="https://www.kbsoftware.co.uk" target="_blank">
              KB Software Ltd
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock footer %}
