{% extends 'dash/base.html' %}

{% block sub_title %}
  Delete Link
{% endblock sub_title %}

{% block sub_heading %}
  Delete Link
{% endblock sub_heading %}

{% block content %}
  {% if object.in_use %}
    <div class="pure-g">
      <div class="pure-u-1">
        <div class="pure-menu pure-menu-horizontal">
          <ul class="pure-menu-list">
            <li class="pure-menu-item">
              <a href="{% url 'block.link.list' %}" class="pure-menu-link">
                <i class="fa fa-reply"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="pure-g">
      <div class="pure-u-1">
        <br>
        This link is in use on the following pages:
        <ul>
          {% for page in link.pages_used %}
            <li>{{ page }}</li>
          {% endfor %}
        </ul>
        <br><br>
        If you want to delete this link, remove all uses of it first.
      </div>
    </div>
  {% else %}
    <div class="pure-g">
      <div class="pure-u-1">
        <div class="pure-u-1-12 pure-u-md-1-12 col-label">Title</div>
        <div class="pure-u-3-4 pure-u-md-3-4 col-value">{{ link.title }}</div>
      </div>
      <div class="pure-u-1">
        <div class="pure-u-1-12 pure-u-md-1-12 col-label">Url:</div>
        <div class="pure-u-3-4 pure-u-md-3-4 col-value">{{ link.url }}</div>
      </div>
      <div class="pure-u-1">
        <br>
        <p style="color: red;">Before deleting this link please ensure that you have not used it in the text of your pages. </p>
        <p>
          Are you sure you want to delete the
          <strong>{{ object.title }}</strong>
          link?
        </p>
      </div>
    </div>
    <div class="pure-g">
      <div class="pure-u-1">
        {% include '_form.html' with submit='Delete Link' %}
      </div>
    </div>
  {% endif %}
{% endblock content %}
