{% extends 'dash/base.html' %}

{% load thumbnail %}

{% block sub_title %}
  Link Library
{% endblock sub_title %}

{% block sub_heading %}
  Link Library
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_back_to_settings.html' %}
          <li class="pure-menu-item">
            <a href="{% url 'block.link.category.list' %}" class="pure-menu-link">
              <i class="fa fa-picture-o"></i>
              Link Categories
            </a>
          </li>
          <li class="pure-menu-item">
            <a href="{% url 'block.link.document.create' %}" class="pure-menu-link">
              <i class="fa fa-file-o"></i>
              Upload New Document
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-4">
      <strong>Title:</strong>
    </div>
    <div class="pure-u-1 pure-u-md-9-24">
      <strong>Target:</strong>
    </div>
    <div class="pure-u-1 pure-u-md-1-8">
      <strong>Permanent Url *:</strong>
    </div>
    <div class="pure-u-1 pure-u-md-1-4">
      <strong>Pages used:</strong>
    </div>
  </div>
  {% for link in link_list %}
    {% ifchanged link.category %}
      <div class="pure-g">
        <div class="pure-u-1">
          <h3>
            {% if link.category %}
              {{ link.category.name }}
            {% else %}
              No Category
            {% endif %}
          </h3>
        </div>
      </div>
    {% endifchanged %}
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-4">
        <a href="{% if link.is_document %}{% url 'block.link.document.update' link.pk %}{% elif link.is_external %}{% url 'block.link.external.update' link.pk %}{% elif link.is_internal %}{% url 'block.link.internal.update' link.pk %}{% endif %}">
          <i class="fa fa-edit"></i> {{ link.title }}
        </a>
      </div>
      <div class="pure-u-1 pure-u-md-9-24">
        {% if link.is_document %}
          <strong>Document:</strong> {{ link.file_name }}
        {% elif link.is_internal %}
          <strong>Page:</strong> {{ link.url }}
        {% elif link.is_external %}
          <strong>Url:</strong> {{ link.url }}
        {% endif %}
      </div>
      <div class="pure-u-1 pure-u-md-1-8">
        {% url 'block.link.follow' link.link_type link.pk %}
      </div>
      <div class="pure-u-1 pure-u-md-1-4">
        {% for page in link.pages_used %}
          {% if forloop.counter0 %}, {% endif %}
          {{ page }}
        {% empty %}
          <a href="{% url 'block.link.delete' link.pk %}">
            <i class="fa fa-trash-o"></i>
          </a>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
  <div>
    <p>* If using a link in the text of an article, use the Permanent Url rather than the Target.  </p>
  </div>
{% endblock content %}
