{% extends 'dash/base.html' %}

{% block sub_title %}
  {{ menu }} items
{% endblock sub_title %}

{% block sub_heading %}
  {{ menu }} items
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_settings.html' %}
          {% include 'base/_paginate.html' %}
          <li class="pure-menu-item">
            {# navigation menu defaults to 'main' #}
            <a href="{% url 'block.menuitem.create' menu.slug %}" class="pure-menu-link">
              <i class="fa fa-plus"></i>
              Create menu item
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table width="100%" class="pure-table pure-table-bordered">
        <thead>
          <tr>
            <th>Title</th>
            <th>Order</th>
            <th>Link</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for object in object_list %}
            {% ifchanged object.parent %}
              <tr class="pure-table-odd">
                {% if object.parent %}
                  <td colspan="4" id="{{ object.parent.slug }}">
                    <strong>
                      {{ object.parent.title }}
                      Sub Menu
                    </strong>
                  </td>
                {% else %}
                  <td colspan="4">
                    <strong>
                      {{ object.menu.title }}
                    </strong>
                  </td>
                {% endif %}
              </tr>
            {% endifchanged %}
            <tr valign="top">
              <td>
                {% if object.is_deleted %}
                  <del>
                {% else %}
                  <a href="{% url 'block.menuitem.update' object.pk %}">
                    <i class="fa fa-edit"></i>
                {% endif %}
                {{ object.title }}
                <small>
                  ({{ object.slug }})
                  {% if object.has_children %}
                    (has a sub-menu)
                  {% endif %}
                </small>
                {% if object.is_deleted %}</del>{% else %}</a>{% endif %}
              </td>
              <td>
                {% if object.is_deleted %}<del>{% endif %}
                {{ object.order }}
                {% if object.is_deleted %}</del>{% endif %}
              </td>
              <td>
                {% if object.is_deleted %}
                  <del>
                {% else %}
                  <a href="{%url 'block.wizard.link.option' object.get_content_type.pk object.pk 'link' 'single' %}">
                    {% if object.link %}
                      {% if object.link.is_deleted %}
                        <del>
                      {% endif %}
                      {% if object.link.is_document %}
                        Document:
                      {% elif object.link.is_external %}
                        External Link:
                      {% elif object.link.is_internal %}
                        Page:
                      {% endif %}
                      {{ object.link }}
                      {% if object.link.is_deleted %}
                        <small>
                          (Deleted)
                        </small>
                        </del>
                      {% endif %}
                    {% else %}
                      <i class="fa fa-link"></i>
                      Create Link
                    {% endif %}
                {% endif %}
                {% if object.is_deleted %}</del>{% else %}</a>{% endif %}
              </td>
              <td>
                <a href="{% url 'block.menuitem.delete' object.pk %}">
                  {% if object.is_deleted %}
                    <i class="fa fa-undo"></i>
                  {% else %}
                    <i class="fa fa-trash-o"></i>
                  {% endif %}
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
