{% extends 'dash/base.html' %}

{% block sub_title %}
  {% if object %}
    Update {{object.menu }} Item
  {% else %}
    Create Menu Item
  {% endif %}
{% endblock sub_title %}

{% block sub_heading %}
  {% if object %}
    Update {{object.menu }} Item
  {% else %}
    Create Menu Item
  {% endif %}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      {% include '_form.html' with legend='Menu Item' inline_checkbox=True %}
    </div>
  </div>
{% endblock content %}
