{% extends 'dash/base.html' %}

{% block sub_title %}
  {% if object.is_deleted %}
    Un-Delete
  {% else %}
    Delete
  {% endif %}
  the menu item '{{object.title}}' from {{ object.menu }}
{% endblock sub_title %}

{% block sub_heading %}
  {% if object.is_deleted %}
    Un-Delete
  {% else %}
    Delete
  {% endif %}
  the menu item '{{object.title}}' from {{ object.menu }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <form action="" method="post">{% csrf_token %}
        <p>
          Are you sure you want to
          {% if object.is_deleted %}
            restore
          {% else %}
            delete
          {% endif %}
          the menu item '{{ object.title }}'
          {% if object.is_deleted %}
            to the
          {% else %}
            from
          {% endif %}
          {{ object.menu }}?
        </p>
        <input type="submit" value="{% if object.is_deleted %}Un-Delete{% else %}Delete{% endif %}" class="pure-button pure-button-primary" />
      </form>
    </div>
  </div>
{% endblock content %}
