{% extends 'dash/base.html' %}

{% block sub_title %}
  Page
{% endblock sub_title %}

{% block sub_heading %}
  Page
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      {% include '_form.html' with legend='Page' inline_checkbox=True %}
    </div>
  </div>
{% endblock content %}
