{% extends 'dash/base.html' %}

{% block sub_title %}
  {% if object.deleted %}
    Un-Delete
  {% else %}
    Delete
  {% endif %}
  {{ object.name }}
  Page
{% endblock sub_title %}

{% block sub_heading %}
  {% if object.deleted %}
    Un-Delete
  {% else %}
    Delete
  {% endif %}
  {{ object.name }}
  Page
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <form action="" method="post">{% csrf_token %}
        <p>
          Are you sure you want to
          {% if object.deleted %}
            un-delete
          {% else %}
            delete
          {% endif %}
          the '{{ object.name }}' page?
        </p>
        <input type="submit" value="{% if object.deleted %}Un-Delete{% else %}Delete{% endif %}" class="pure-button pure-button-primary" />
      </form>
    </div>
  </div>
{% endblock content %}
