{% extends 'dash/base.html' %}

{% block sub_title %}
  Pages
{% endblock sub_title %}

{% block sub_heading %}
  Pages
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_settings.html' %}
          {% include 'base/_paginate.html' %}
          <li class="pure-menu-item">
            <a href="{% url 'block.page.create' %}" class="pure-menu-link">
              <i class="fa fa-plus"></i>
              Create page
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr>
            <th>Name</th>
            <th>Design</th>
            <th>Type</th>
            <th>Config</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for object in object_list %}
            <tr valign="top">
              <td>
                {% if not object.is_custom %}
                  <a href="{{ object.get_absolute_url }}">
                {% endif %}
                {% if object.deleted %}<del>{% endif %}
                {% if object.order and not object.is_custom %}
                  {{ object.order }})
                {% endif %}
                {{ object.name }}
                {% if object.deleted %}</del>{% endif %}
                {% if not object.is_custom %}
                  </a>
                {% endif %}
              </td>
              <td>
                <a href="{{ object.get_design_url }}">
                  <i class="fa fa-edit"></i>
                  Design
                </a>
              </td>
              <td>
                <small>
                  {% if object.is_home %}
                    Home
                  {% elif not object.order %}
                    Hidden
                  {% endif %}
                  {% if object.is_custom %}
                    Custom
                  {% endif %}
                </small>
              </td>
              <td>
                <a href="{% url 'block.page.update' object.pk %}">
                  <i class="fa fa-cog"></i>
                  <small>{{ object.template.name }}</small>
                </a>
              </td>
              <td>
                <a href="{% url 'block.page.delete' object.pk %}">
                  {% if object.deleted %}
                    <i class="fa fa-undo"></i>
                  {% else %}
                    <i class="fa fa-trash-o"></i>
                  {% endif %}
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
