{% extends 'dash/base.html' %}
{% load thumbnail %}

{% block sub_title %}
  Remove panel
{% endblock sub_title %}

{% block sub_heading %}
  Remove panel
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="l-box">
        <table class="pure-table pure-table-bordered">
          <tbody>
            <tr>
              <td><strong>Page</strong></td>
              <td>{{ object.page }}</td>
            </tr>
            <tr>
              <td><strong>Panel</strong></td>
              <td>{{ object.panel.page_section.section }}</td>
            </tr>
            <tr valign="top">
              <td><strong>Section</strong></td>
              <td>{{ object.section }}</td>
            </tr>
          </tbody>
        </table>
        {% if object.is_pending_edited or object.is_pending_pushed %}
          <p>
            This panel is published on the live site.
            Clicking the 'Remove' button will remove it from your web site.
          </p>
        {% endif %}
        <div class="pure-u-1">
          {% include '_form.html' with legend='Are you sure you want to remove this panel?' submit='Remove' %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
