{% extends 'dash/base.html' %}

{% block sub_title %}
  Update Panel '{{ object.title }}'
{% endblock sub_title %}

{% block sub_heading %}
  Update Panel '{{ object.title }}'
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="l-box">
        {% include '_form.html' with legend='Panel' multipart=True %}
      </div>
    </div>
  </div>
{% endblock content %}

{% block script_extra %}
  {{ block.super }}
  {% include 'base/_ckeditor.html' %}
{% endblock script_extra %}
