{% extends 'dash/base.html' %}
{% load thumbnail %}

{% block sub_title %}
  Panel elements
{% endblock sub_title %}

{% block sub_heading %}
  Panel elements
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="l-box">
        <table class="pure-table pure-table-bordered">
          <tbody>
            <tr>
              <td><strong>HTML ID</strong></td>
              <td>{{ object.slug }}</td>
              <tr>
                <tr>
                  <td>
                    <strong>Name</strong>
                  </td>
                  <td>
                    {{ object.name }}
                  </td>
                  <tr>
                    <tr>
                      <td><strong>Title</strong></td>
                      <td>
                        <a href="{% url "block.panel.update" object.pk %}">
                          <i class="fa fa-edit"></i>
                          {{ object.title }}
                        </a>
                      </td>
                      <tr>
                        {% if object.url_description %}
                          <tr>
                            <td>
                              <strong>URL description</strong>
                            </td>
                            <td>
                              {{ object.url_description }}
                            </td>
                            <tr>
                        {% endif %}
                      </tbody>
                    </table>
                  </div>
                  <div class="pure-menu pure-menu-horizontal">
                    <ul class="pure-menu-list">
                      <li class="pure-menu-item">
                        <a href="{{ object.block.page_section.page.get_design_url }}" class="pure-menu-link">
                          <i class="fa fa-edit"></i>
                          Page design
                        </a>
                      </li>
                      <li class="pure-menu-item">
                        {% if object.available_sections.count > 0 %}
                          <a href="{% url "block.panel.element.create" object.pk %}" class="pure-menu-link">
                            <i class="fa fa-list"></i>
                            Create element
                          </a>
                        {% else %}
                          All available sections created
                        {% endif %}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              {% for element in object.elements %}

                {% if forloop.first %}
                  <div class="pure-g">
                    <div class="pure-u-1">
                      <div class="l-box">
                        <table class="pure-table pure-table-bordered">
                          <thead>
                            <tr>
                              <th>
                                Name
                              </th>
                              <th>
                                Delete
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                {% endif %}
                <tr>
                  <td>
                    {{ element.section.name }}
                  </td>
                  <td>
                    <a href="{% url "block.panel.element.remove" object.pk element.section.pk %}">
                      <i class="fa fa-times"></i>
                    </a>
                  </td>
                </tr>
                {% if forloop.last %}
                  </tbody>
                  </table>
                  </div>
                  </div>
                  </div>
                {% endif %}
              {% endfor %}
{% endblock content %}

{% block script_extra %}
  {% include 'base/_ckeditor.html' %}
{% endblock script_extra %}
