{% extends 'dash/base.html' %}
{% load thumbnail %}

{% block sub_title %}
  Publish panel
{% endblock sub_title %}

{% block sub_heading %}
  Publish panel
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="l-box">
        <table class="pure-table pure-table-bordered">
          <tbody>
            <tr>
              <td><strong>Slug</strong></td>
              <td>{{ object.slug }}</td>
            </tr>
            <tr>
              <td><strong>Name</strong></td>
              <td>{{ object.name }}</td>
            </tr>
            <tr>
              <td><strong>Title</strong></td>
              <td>{{ object.title }}</td>
            </tr>
            <tr valign="top">
              <td><strong>Background Picture</strong></td>
              <td>
                {% if object.picture and object.picture.image %}
                  <img src="{% thumbnail object.picture.image 100x0 %}">
                {% endif %}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="pure-u-1">
      {% include '_form.html' with legend='Are you sure you want to publish this panel?' submit='Publish' %}
    </div>
  </div>
{% endblock content %}
