{% extends 'dash/base.html' %}

{% block sub_title %}
  Section
{% endblock sub_title %}

{% block sub_heading %}
  Section
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1 pure-u-lg-2-3">
      <div class="l-box">
        {% include '_form.html' with legend='Section' %}
      </div>
    </div>
  </div>
{% endblock content %}
