{% extends 'dash/base.html' %}

{% block sub_title %}
  Sections
{% endblock sub_title %}

{% block sub_heading %}
  Sections
{% endblock sub_heading %}

{% block content %}
  {% if user.is_staff %}
    <div class="pure-menu pure-menu-horizontal">
      <ul class="pure-menu-list">
        <li class="pure-menu-item">
          <a href="{% url 'project.settings' %}" class="pure-menu-link">
            <i class="fa fa-reply"></i>
          </a>
        </li>
        <li class="pure-menu-item">
          <a href="{% url 'block.section.create' %}" class="pure-menu-link">
            <i class="fa fa-file-code-o"></i>
            Create section
          </a>
        </li>
        {% include 'base/_paginate.html' %}
      </ul>
    </div>
  {% endif %}

  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Model</th>
            <th>Create URL</th>
            <th>Snippet</th>
            <th>Fields</th>
          </tr>
        </thead>
        <tbody>
          {% for object in object_list %}
            <tr valign="top">
              <td>
                <a href="{% url 'block.section.update' object.pk %}">
                  <i class="fa fa-edit"></i>
                  {{ object.name }}
                  <small>({{ object.slug }})</small>
                </a>
              </td>
              <td>
                <small>{{ object.block_app }}.models.{{ object.block_model }}</small>
              </td>
              <td>
                {% if object.create_url_name %}
                  '{{ object.create_url_name }}'
                {% endif %}
              </td>
              <td>
                {% if object.snippet_name %}
                  '{{ object.snippet_name }}'
                {% endif %}
              </td>
              <td>
                {% if object.field_list %}
                  '{{ object.field_list }}'
                {% else %}
                  All
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include 'base/_paginate.html' %}
    </div>
  </div>
{% endblock content %}
