{% extends 'dash/base.html' %}

{% block sub_title %}
  Template section
{% endblock sub_title %}

{% block sub_heading %}
  Add section to {{ template.template_name }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      Add a section to the '{{ template.template_name }}' template.
      {% include '_form.html' with legend='Template section' %}
    </div>
  </div>
{% endblock content %}
