{% extends 'dash/base.html' %}

{% block sub_title %}
  Template
{% endblock sub_title %}

{% block sub_heading %}
  Template
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      {% include '_form.html' with legend='Template' %}
    </div>
  </div>
{% endblock content %}
