{% extends 'dash/base.html' %}

{% load thumbnail %}

{% block sub_title %}
  Link Wizard
{% endblock sub_title %}

{% block sub_heading %}
  Link Wizard
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{{ url_page_design }}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-2">
      <h3>What would you like to do?</h3>
      {% if categories %}
        <p>
          Choose a link from one of these categories:
        </p>
        {% for category in categories %}
          <a href="{{ category.url }}" class="pure-menu-link">
            <i class="fa fa-link"></i>
            {{ category.name }}
          </a>
        {% endfor %}
      {% endif %}
      <p>
        Choose from the whole library:
      </p>
      <a href="{{ url_choose }}{% if next_url %}?next={{ next_url }}{% endif %}" class="pure-menu-link">
        <i class="fa fa-link"></i>
        Link Library
      </a>
      <p>
        Or:
      </p>
      <a href="{{ url_external }}{% if next_url %}?next={{ next_url }}{% endif %}" class="pure-menu-link">
        <i class="fa fa-external-link"></i>
        Create a link to a site on the internet
      </a>
      <a href="{{ url_page }}{% if next_url %}?next={{ next_url }}{% endif %}" class="pure-menu-link">
        <i class="fa fa-file-text-o"></i>
        Create a link to a page on this site
      </a>
      <a href="{{ url_upload }}{% if next_url %}?next={{ next_url }}{% endif %}" class="pure-menu-link">
        <i class="fa fa-cloud-upload"></i>
        Upload a document and link to it
      </a>
      {% if link %}
        <p>
          Maintenance:
        </p>
        <a href="{{ url_remove }}{% if next_url %}?next={{ next_url }}{% endif %}" class="pure-menu-link">
          <i class="fa fa-times"></i>
          Remove the {{ field_name }} from your page
        </a>
      {% endif %}
      {# Wizard.MULTI #}
      {% if many_to_many.count %}
        <p>
          Maintenance:
        </p>
        <a href="{{ url_order }}" class="pure-menu-link">
          <i class="fa fa-arrow-up"></i>
          Order links in your {{ field_name }}
        </a>
        <a href="{{ url_select }}" class="pure-menu-link">
          <i class="fa fa-times"></i>
          Remove links from your {{ field_name }}
        </a>
      {% endif %}
      <br>
      <a href="{{ url_page_design }}" class="pure-button pure-button-primary">
        <span style="color:white;">
          <i class="fa fa-reply"></i>
          Finish
        </span>
      </a>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
      {# Wizard.SINGLE #}
      {% if link %}
        <h3>Current {{ field_name }}:</h3>
        <i class="fa fa-link"></i>
        {{ link.link_type_description }}:
        {{ link.title }}
        {% if link.category.name %}
          <small>({{ link.category.name }})</small>
        {% endif %}
      {% endif %}
      {# Wizard.MULTI #}
      {% if many_to_many.count %}
        <h3>Current {{ field_name }}:</h3>
        {% for item in many_to_many %}
          {{ item.order }}.
          {{ item.link.link_type_description }}:
          {{ item.link.title }}
          {% if item.link.category.name %}
            <small>({{ item.link.category.name }})</small>
          {% endif %}
          <br>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock content %}
