{% extends 'dash/base.html' %}

{% load static %}
{% load thumbnail %}
{# load web_tags #}
{% load i18n %}

{% block head %}
  {{ wizard.form.media }}
{% endblock %}

{% block sub_title %}
  Choose a link
{% endblock sub_title %}

{% block sub_heading %}
  {% if 'image_type' == wizard.steps.current %}
    Choose the type of image
  {% endif %}
  {% if 'url_type' == wizard.steps.current %}
    Choose the type of link
  {% endif %}
  {% if 'a' wizard.steps.current %}
    Choose a previously uploaded image
  {% endif %}
  {% if 'i' == wizard.steps.current %}
    Upload an image
  {% endif %}
  {% if 'l' == wizard.steps.current %}
    Enter an External Link
  {% endif %}
  {% if 'c' == wizard.steps.current %}
    Select all the images you want to use
  {% endif %}
  {% if 'x' == wizard.steps.current %}
    Untick the links you want to remove
  {% endif %}
  {% if 'p' == wizard.steps.current %}
    Choose a page from the site
  {% endif %}
  {% if 'u' == wizard.steps.current %}
    Upload a document for this link
  {% endif %}
  {% if 'e' == wizard.steps.current %}
    Choose a previously uploaded document
  {% endif %}
  {% if 'list_delete' == wizard.steps.current %}
    Delete images from the library
  {% endif %}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <form id="urlchoice" action="" method="post" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %} class="pure-form pure-form-stacked">
        {% csrf_token %}
        {% if form.non_field_errors %}
          {{ form.non_field_errors }}
        {% endif %}
        <fieldset>
          {{ wizard.management_form }}
          {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
              {% include 'block/_wizard_form.html' %}
            {% endfor %}
          {% else %}
            {% include 'block/_wizard_form.html' with form=wizard.form %}
          {% endif %}
          <div class="pure-controls">
            <p>
              {% if wizard.steps.prev %}
                <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}" class="pure-button pure-button-primary">< {% trans "Back" %}</button>
              {% endif %}
              <button type="submit" value="{% trans "submit" %}" class="pure-button pure-button-primary">
                {% if wizard.steps.step1 == 1 %}
                  Next >
                {% elif wizard.steps.current == 'list_delete' %}
                  Delete
                {% else %}
                  Submit
                {% endif %}
              </button>
            </p>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
{% endblock %}
